ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
a
{
    color: #353535;
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
    color: #eb1c24;;
}
/* Menu box tra cứu */
#profileMenu{
    padding: 0;
}
#profileMenu li,#profileContent ul li{
    list-style: none;
}
#profileMenu li a{
    display: block;
    padding: 5px 10px;
}
#profileMenu li a i{
    margin-right: 5px;
}
.sidebar{
    border: 1px solid #e0d8d8;
}
.sidebar .box-heading p{
    padding: 15px;
    background: #eb1c24;
    font-weight: bold;
    color: #fff;
}
.sidebar .box-heading p i{
    font-size: 19px;
    vertical-align: middle;
    margin-right: 10px;
}
#profileContent{
    padding: 0;
}
#profileContent .btn-use{
    background: #eb1c24;
    color: #fff;
}
#profileContent .profile select{
    height: 36px;
    width: 100%;
    border-color: #91ad41;
}
#profileContent ul{
    padding: 0;
}
#profileContent form.f .btns{
    text-align: center;
    margin-top: 25px;
}
#profileContent form.f .btns input{
    border: none;
    padding: 7px 10px;
}
#profileContent form.f li {
    margin-bottom: 10px;
}
#profileContent form.f li label{
    margin: 0;
    width: 40%;
}
#profileContent form.f li:not(:last-child) input{
    width: 60%;
}
.change-title{
    font-size: 28px;
}
@media (max-width: 600px) {
    #profileContent {
        margin-top: 30px;
        text-align: center;
    }
}

/* tra cuu */
.orderView > span {
    font-style: italic;
    display: block;
    padding: 15px 0;
    text-align: center;
}
.form-inline {
    display: block;
    text-align: center;
    margin-bottom: 0px;
}
.form-inline > .form-groups {
    display: inline-block;
    margin: 0px;
}
#frmIndexOrder .txtFill {
    width: 50%;
}
#frmIndexOrder .form-groups input {
    border: 1px solid #dedede;
    padding: 10px;
    width: 100%;
}
#frmIndexOrder .btn-danger {
    border: none;
    background: #eb1c24;
    color: #fff;
    padding: 11px 20px;
    margin-left: -2px;
}
#frmIndexOrder .btn-danger:hover {
    transition: all .3s;
    opacity: 0.9;
}
.desOrderSearch {
    width: 55%;
    margin: 0 auto;
    padding: 10px 0;
}
.desOrderSearch i {
    display: block;
    color: #333;
    font-size: 12px;
    text-align: center;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table-bordered tr th{
    background: #f6f6f6;
    color: #333;
}
.table tr td,
.table tr th{
    text-align: center;
}
#noteStatus{
    text-align: left;
    margin-bottom: 30px;
}
#noteStatus>p{
    padding: 1px 0;
    font-size: 13px;
}
.table{
    margin: 20px 0;
}